src/main/wsdl/users.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.craftsoftware.com/users" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserPortService" targetNamespace="http://www.craftsoftware.com/users">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.craftsoftware.com/users" elementFormDefault="qualified" targetNamespace="http://www.craftsoftware.com/users" version="1.0">

  <xs:element name="CreateUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreateUser" type="tns:CreateUser"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllUsersRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Users" type="tns:User"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User" type="tns:User"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User" type="tns:User"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CreateUser">
    <xs:sequence>
      <xs:element name="fist" type="xs:string"/>
      <xs:element name="last" type="xs:string"/>
      <xs:element name="department" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="fist" type="xs:string"/>
      <xs:element name="last" type="xs:string"/>
      <xs:element name="department" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateUser">
    <wsdl:part element="tns:CreateUserRequest" name="CreateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteUser">
    <wsdl:part element="tns:DeleteUserRequest" name="DeleteUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
    <wsdl:part element="tns:UpdateUserResponse" name="UpdateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateUserResponse">
    <wsdl:part element="tns:CreateUserResponse" name="CreateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsers">
    <wsdl:part element="tns:GetAllUsersRequest" name="GetAllUsersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteUserResponse">
    <wsdl:part element="tns:DeleteUserResponse" name="DeleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUser">
    <wsdl:part element="tns:UpdateUserRequest" name="UpdateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUser">
    <wsdl:part element="tns:GetUserRequest" name="GetUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllUsersResponse">
    <wsdl:part element="tns:GetAllUsersResponse" name="GetAllUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserResponse">
    <wsdl:part element="tns:GetUserResponse" name="GetUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUser" name="CreateUser">
    </wsdl:input>
      <wsdl:output message="tns:CreateUserResponse" name="CreateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUser" name="DeleteUser">
    </wsdl:input>
      <wsdl:output message="tns:DeleteUserResponse" name="DeleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsers" name="GetAllUsers">
    </wsdl:input>
      <wsdl:output message="tns:GetAllUsersResponse" name="GetAllUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUser" name="UpdateUser">
    </wsdl:input>
      <wsdl:output message="tns:UpdateUserResponse" name="UpdateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUser" name="GetUser">
    </wsdl:input>
      <wsdl:output message="tns:GetUserResponse" name="GetUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortServiceSoapBinding" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetAllUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port binding="tns:UserPortServiceSoapBinding" name="UserPortPort">
      <soap:address location="http://localhost:8081/users"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>